$light: #fff;
$primary-color: #182519;;
$secondary-color:#737a4f;
$base-color:#ffff;
$title-color:#182539;
$black:#000;
$gray:#fff;
$secondary-bg:#f4f9fc;
$border-color:#fafafa;
$primary-font: 'Exo', sans-serif;
$secondary-font:'Roboto', sans-serif;

$grad-color:linear-gradient(to bottom,#182519,#fff);