$light: #fff;
$primary-color: #298b40;
$secondary-color: #8dc48f;
$base-color: #ffff;
$title-color: #6cb384;
$black: #000;
$gray: #fff;
$secondary-bg: #c9e6b6;
$border-color: #74ac83;
$primary-font: 'Exo', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$grad-color: linear-gradient(to bottom,$primary-color,#fff);
