@model Health_Hub.Models.Domain.Person

<div class="signup-container">
    <h4 class="text-center">Patient</h4> <!-- Centered Heading -->
    <hr />
    <div class="signup-form">
        <form asp-action="SignUp" asp-controller="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Label positioned above input fields -->
            <div class="signup-form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="signup-form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="signup-form-group">
                <label asp-for="CNIC" class="control-label"></label>
                <input asp-for="CNIC" class="form-control" />
                <span asp-validation-for="CNIC" class="text-danger"></span>
            </div>

            <div class="signup-form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="signup-form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="signup-form-group">
                <label asp-for="RoleID" class="control-label"></label>
                <select asp-for="RoleID" class="form-control">
                    <option value="3">Patient</option>
                    <option value="4">Doctor</option>
                </select>
            </div>

            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-primary w-40" />
            </div>
        </form>
    </div>
    <div class="text-center mt-3">
        <button class="btn btn-link">Already Registered? <a asp-action="LogIn" asp-controller="LogIn">Log In</a></button>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
