@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}
<section class="page-title bg-1">
    <div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">About Us</span>
                    <h1 class="text-capitalize mb-5 text-lg">About Us</h1>
                </div>
            </div>
        </div>
	</div>
    </div>
</section>


<section class="section about-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="title-color">Personal care for your healthy living</h2>
            </div>
            <div class="col-lg-8">
                <p>Health  Hub  simplifies  healthcare  for  both  doctors and patients. Patients can easily book appointments, manage reports, and track health records, while doctors access patient histories effortlessly, enabling focused and personalized care. Our platform brings convenience and efficiency to your healthcare experience.</p>
                <img src="images/about/sign.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="fetaure-page ">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<img src="/Images/about/verified.png" alt="" class="img-fluid  about-block-item">
					<h4 class="mt-3">Verified Doctors Only</h4>
					<p>All our doctors are thoroughly verified, ensuring you receive trusted and reliable care .</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<img src="/Images/about/onlineConsult.jpeg" alt="" class="img-fluid about-block-item">
					<h4 class="mt-3">Find Your Doctor Easily</h4>
					<p>Quickly search and connect with the right doctor based on your specific needs and location .</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<img src="/Images/about/scheduleAppoint.webp" alt="" class="img-fluid about-block-item">
					<h4 class="mt-3">Appointment Management</h4>
					<p>Patients can effortlessly book appointments, manage their schedules, and keep track of medical visits .</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item">
					<img src="/Images/about/chat.png" alt="" class="img-fluid about-block-item">
					<h4 class="mt-3">Direct Chat</h4>
					<p>Chat directly with doctors for personalized advice, ensuring support and guidance whenever you need it .</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section awards">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4">
				<h2 class="title-color">Our Doctors achievements </h2>
				<div class="divider mt-4 mb-5 mb-lg-0"></div>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="/Images/about/3.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="/Images/about/4.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="/Images/about/1.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="/Images/about/2.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="/Iwmages/about/5.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="/Images/about/6.png" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>