@{
    Layout = "~/Views/Shared/LayoutLogInPatient.cshtml"; // Path to your custom login layout
}
@model Health_Hub.Models.Domain.Person
<div class="login-container">
    <h1 class="title">HealthHub Login</h1>
    <form asp-action="Login" method="post" class="login-form">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
